select {
  word-wrap: normal;
  height: 30px;
  border-radius: 4px;
  padding: 3px;
  outline: none;
}

.todo__header__flags {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
  max-width: 800px;
}

.todo__header__flag {
  padding: 7px;
}

